<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://h5.dooring.cn/uploads/logo_1742fd359da.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H5-Dooring | 一款强大的H5表单编辑器</title>
    <meta name="description" content="Form-Dooring是一款功能强大，开源免费的H5可视化表单配置解决方案，致力于提供一套简单方便、专业可靠、无限可能的H5表单搭建最佳实践。">
    <meta name="keywords" content="H5,HTML5,form,javascript,react,nodejs,前端开发,github,开源">
    <meta name="author" content="徐小夕">
    <!-- <meta name="robots" content="noindex, nofollow"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <div id="root"></div>
</body>
</html>